<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>New</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/new}" th:object="${user}">
    <label for="firstname">Введите имя: </label>
    <input type="text" th:field="*{firstname}" id="firstname" placeholder="Имя">
    <br/>
    <label for="lastname">Введите фамилию: </label>
    <input type="text" th:field="*{lastname}" id="lastname" placeholder="Фамилия">
    <br/>
    <label for="age">Введите возраст: </label>
    <input type="text" th:field="*{age}" id="age" placeholder="Возраст">
    <br/>
    <label for="email">Введите почту: </label>
    <input type="text" th:field="*{email}" id="email" placeholder="Почта">
    <br/>
    <label for="password">Введите пароль: </label>
    <input type="text" th:field="*{password}" id="password" placeholder="Пароль">
    <br/>
    <label for="username">Введите логин: </label>
    <input type="text" th:field="*{username}" id="username" placeholder="Логин">
    <p>
        <label>Права доступа
            <input type="checkbox" name="listRoles"
                   th:each="rol : ${listRoles}"
                   th:text="${rol.getNoPrefix()}"
                   th:value="${rol.role}"
                   th:field="*{roles}"
            />
        </label>
    </p>
    <input type="submit" value="Создать">
</form>
<br/>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Выйти из системы"/>
</form>
<br/>
<h4><a href="/admin/users">Список пользователей</a></h4>
</body>
</html>
